<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

    <insert id="upload">
    	<selectKey keyProperty="file_seq" resultType="int" order="AFTER">
        	select file_seq.currval from dual
   	 	</selectKey>
        INSERT INTO
            files
        VALUES(
            file_seq.nextval,
            #{file_oriname},
            #{file_sysname},
            #{parent_seq},
            #{file_code}
        )
    </insert>

    <delete id="deleteFile">
        DELETE FROM
            files
        WHERE
            file_sysname = #{file_sysname}
    </delete>
    
    <select id="getSysName" resultType="String">
        select file_sysname 
        from files 
		where parent_seq = #{parentSeq} and file_code = #{fileCode}
    </select>
	
	<update id="update">
		update files set parent_seq = #{parentSeq} where file_seq = #{fileSeq}
	</update>
	
	<select id="getFilesByNotFound" resultType="com.hows.File.dto.FileDTO">
		select * from files where parent_seq = 0
	</select>
</mapper>