<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<!-- 회원가입 -->
	<insert id="insert">
		insert into member values (
			member_seq.nextval, 
			#{member_id}, 
		    #{pw}, 
		    #{name}, 
		    #{nickname}, 
		    #{birth}, 
		    #{gender}, 
		    #{phone}, 
		    #{email}, 
		    #{zip_code}, 
		    #{address}, 
		    #{detail_address}, 
		    default, 
		    default, 
		    default,
		    default,
		    default,    
		    default, 
		    default, 
		    default,
		    default    
		)
	</insert>
	
	<!-- 회원정보 가져오기 -->
	<select id="findById" resultType="com.hows.member.dto.MemberDTO">
		select * from member where member_id = #{id}
	</select>
	
	<!-- 마이페이지 회원정보 출력 -->
	<select id="selectInfo" resultType="com.hows.member.dto.MemberDTO">
		select * from member where member_id = #{member_id}
	</select>
	
</mapper>