<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Order">

	<resultMap id="myOrderMap" type="java.util.HashMap">
		<result property="order_list_seq" column="order_list_seq"/>
		<result property="order_seq" column="order_seq"/>
		<result property="product_seq" column="product_seq"/>
		<result property="order_list_count" column="order_list_count"/>
		<result property="order_list_price" column="order_list_price"/>
		<result property="product_thumbnail" column="product_thumbnail"/>
		<result property="product_title" column="product_title"/>
	</resultMap>


	<select id="orderList" resultType="com.hows.order.dto.OrderDTO">
		SELECT *
		FROM orders
	</select>

	<select id="myOrder" resultType="com.hows.order.dto.OrderDTO">
		SELECT
			*
		FROM
			orders
		WHERE
			member_seq = #{member_seq}
	</select>

	<select id="myOrderList" resultMap="myOrderMap">
		SELECT
			ol.*,
			p.product_thumbnail,
			p.product_title
		FROM
			order_list ol
			join product p on p.product_seq = ol.product_seq
		WHERE
			order_seq = #{order_seq}
	</select>

	<select id="orderListByStatus" resultType="com.hows.order.dto.OrderInfoListDTO">
		select
		o.order_seq, o.order_date, o.order_name, m.name, g.grade_title, o.order_price, o.orderer_phone, o.orderer_zip_code, o.orderer_address, o.orderer_detail_address, o.order_code, s.order_title, p.payment_price, p.payment_date
		from orders o
		join member m on o.member_seq = m.member_seq
		join grade g on m.grade_code = g.grade_code
		join payment p on o.order_seq = p.order_seq
		join order_status s on o.order_code = s.order_code
		<where>
			<choose>
				<when test="status == 'product'">
					o.order_code IN ('O1', 'O2', 'O3')
				</when>
				<when test="status == 'delivery'">
					o.order_code IN ('O4', 'O5', 'O6')
				</when>
			</choose>
		</where>
	</select>

	<insert id="addOrder" parameterType="com.hows.order.dto.OrderDTO">
		<selectKey keyProperty="order_seq" resultType="int" order="BEFORE">
			SELECT
				order_seq.nextval
			FROM
				dual
		</selectKey>

		INSERT INTO
			orders
		VALUES(
			#{order_seq},
			#{member_seq},
			#{order_code},
			#{order_name},
			default,
			#{order_price},
			#{orderer_name},
			#{orderer_phone},
			#{orderer_zip_code},
			#{orderer_address},
			#{orderer_detail_address}
		)
	</insert>

	<insert id="addOrderList">
		INSERT INTO
			order_list
		VALUES (
			order_list_seq.nextval,
			#{order_seq},
			#{product_seq},
			#{order_list_count},
			#{order_list_price}
		)
	</insert>

	<update id="updateOrder">
		UPDATE
			orders
		SET
			order_code = #{order_code}
		WHERE
			order_seq = #{order_seq}
	</update>
</mapper>