<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Payment">

    <resultMap id="myPaymentMap" type="java.util.HashMap">
        <result property="payment_seq" column="payment_seq"/>
        <result property="member_seq" column="member_seq"/>
        <result property="order_seq" column="order_seq"/>
        <result property="payment_code" column="payment_code"/>
        <result property="payment_price" column="payment_price"/>
        <result property="payment_date" column="payment_date" javaType="java.sql.Timestamp"/>
        <result property="payment_id" column="payment_id"/>
        <result property="payment_title" column="payment_title"/>
        <result property="order_name" column="order_name"/>
    </resultMap>

    <select id="list" resultType="com.hows.payment.dto.PaymentDTO">
        SELECT
            *
        FROM
            payment
        WHERE
            member_id = #{id}
    </select>

    <select id="myPayment" resultMap="myPaymentMap">
        SELECT
            p.payment_seq,
            p.member_seq,
            p.order_seq,
            p.payment_code,
            p.payment_price,
            p.payment_date,
            p.payment_id,
            pc.payment_title,
            o.order_name
        FROM
            payment p
            JOIN payment_status pc ON p.payment_code = pc.payment_code
            JOIN orders o ON p.order_seq = o.order_seq
        WHERE
            p.member_seq = #{member_seq}
        ORDER BY
            p.payment_seq DESC
    </select>


    <insert id="addPayment">
        INSERT INTO
            payment
        VALUES (
            payment_seq.nextval,
            #{member_seq},
            #{order_seq},
            #{payment_code},
            #{payment_price},
            <if test="payment_code == 'P1'">
                null,
            </if>
            <if test="payment_code != 'P1'">
                sysdate,
            </if>
            #{payment_id},
            null
        )
    </insert>

    <update id="updatePayment">
        UPDATE
            payment
        SET
            payment_code = #{payment_code},
            payment_text = #{payment_text}
        WHERE
            payment_seq = #{payment_seq}
        AND
            member_seq = #{member_seq}
    </update>

    <delete id="cancelPayment">
        DELETE FROM
            payment
        WHERE
            payment_id = #{payment_id}
    </delete>
    
    <update id="doneCancel">
        update payment set payment_code = 'P5' where payment_id = #{paymentId}
    </update>

	<select id="getOrderSeq" resultType="int">
		select order_seq from payment where payment_seq = #{payment_seq}
	</select>
	
	<select id="todayPaymentPrice" resultType="int">
		select coalesce(sum(payment_price), 0) as total_payment from payment where trunc(payment_date) = trunc(sysdate)
	</select>
</mapper>