<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">
	<select id="getProductByCategory" parameterType="String" resultType="com.hows.product.dto.ProductDTO">
        SELECT * 
        FROM PRODUCT
        WHERE product_category_code = #{product_category_code}
    </select>
</mapper>