<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Space">
    <select id="getSpaceTypes" resultType="com.hows.community.dto.SpaceTypeDTO">
        select * from space_type
    </select>
</mapper>