/* div {
  border: 1px solid black;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container .idFindBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  text-align: center;
}
.container .idFindBox .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.container .idFindBox .logo > img {
  width: 90px;
  height: 95px;
  margin-right: 20px;
}

.container .idFindBox .logo .title {
  display: flex;
  justify-content: center;
  font-size: 65px;
  padding-top: 45px;
  color: var(--hows-point-color);
}

.container .idFindBox > input {
  height: 35px;
  border: 1px solid var(--hows-gray-200);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 8px;
}
.container .idFindBox > input:focus {
  /* 테두리 색상 */
  outline: 1px solid var(--hows-gray-200);
}

.container .idFindBox > button {
  height: 50px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.container .idFindBox .findBtn {
  margin-top: 10px;
  background-color: var(--hows-point-color-dark);
  color: var(--hows-white);
}
.container .idFindBox .findBtn:hover {
  background-color: var(--hows-point-color-darker);
}

.container .idFindBox .backBtn {
  margin-top: 5px;
  background-color: var(--hows-gray-200);
  color: var(--hows-white);
}
.container .idFindBox .backBtn:hover {
  background-color: var(--hows-gray-300);
}
