.container {
    width: 100%; 
}

.contents {
    /* width: 325px;
    height: 500px; */
    display: flex; flex-wrap: wrap;
    padding: 20px 0px;
    /* gap: 20px; */
}

.item {
    width: 305px;
    height: 500px;
    margin: 10px;
}

/* 상품 이미지 */
.img {
    border:1px solid #000;
    height: 400px;
}

/* 상품 설명 */
.title {
    border:1px solid #000;
    height: 100px;
}

/* 상품 설명 - 상품명 */
.title > div{
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid #000; */
}

/* 상품 설명 - 상품 가격 */
.title > div:last-child{
    /* border:1px solid #000; */
}