.CategoryWrap {
    display: flex;
    justify-content: space-between;
    /* 요소들을 가로로 배치하고 간격을 줌 */
    align-items: center;
    /* 아이템을 수직으로 가운데 정렬 */
    margin-bottom: 30px;
}

.CategoryItem {
    text-align: center;
    /* 텍스트를 가운데 정렬 */
    margin: 0 10px;
    /* 아이템 간의 간격 */
}

.CategoryImage {
    width: 80px;
    /* 이미지 너비 */
    height: 80px;
    /* 이미지 높이 */
    border-radius: 50%;
    /* 원형 이미지로 만듦 */
    object-fit: cover;
    /* 이미지 비율을 유지하며 크기 조정 */
    margin-bottom: 5px;

    border: 2px solid var(--hows-gray-500);
}

.CategoryItem p {
    font-size: 14px;
    color: #333;
}