.container {
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.header {
    border-bottom: 1px solid black;
    height: 10%;
    display: flex;
}

.header .cols:last-child {
    padding-right: 15px;
}

.list {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.rows {
    flex: 1;
    border-bottom: 1px solid black;
    min-height: 155px;
    display: flex;
}

.rows:last-child {
    border-bottom: unset;
}

.cols {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cols:first-child {
    flex: 1;
}

.cols:nth-child(2) {
    flex: 1;
}

.cols:nth-child(3) {
    flex: 6;
}

.cols:nth-child(3) img {
    width: 700px;
}

.cols:last-child {
    flex: 2;
}