/* 대시보드 전체 레이아웃 */
.container {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.container .row {
    flex: 5;
    display: flex;
    gap: 5px;
    padding: 8px;
}

.leftBox {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leftBox h1 {
    flex: 1;
}

.leftBox .subBox {
    flex: 2;
    display: flex;
    gap: 5px;
}

.contBox {
    flex: 1;
    border: 1px solid black;
}

.leftBox .listBox {
    flex: 7;
    border: 1px solid black;
}

.rightBox {
    flex: 2;
    border: 1px solid black;
}

.rightBox canvas {
    height: 450px;
    width: 450px;
}

.graphBox {
    flex: 1;
    border: 1px solid black;
}

.graphBox canvas {
    height: 350px;
}

.swiper {
    height: 389px;
    width: 100%;
    max-width: 760px;
}