/* 대시보드 전체 레이아웃 */
.container {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.container .row {
    flex: 5;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.leftBox {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBox h1 {
    flex: 1;
}

.leftBox .subBox {
    flex: 2;
    display: flex;
    gap: 10px;
}

.contBox {
    flex: 1;
    border: 1px solid black;
}

.leftBox .listBox {
    flex: 7;
    border: 1px solid black;
}

.rightBox {
    flex: 4;
    border: 1px solid black;
}

.graphBox {
    flex: 1;
    border: 1px solid black;
}