/* .container div {
  border: 1px solid black;
} */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: darksalmon; */
}
.container .bannerImg {
  /* flex: 1; */
  width: 100%;
  height: 260px;
  margin-bottom: 70px;
  cursor: pointer;
}

.bannerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .mainBox {
  flex: 10;
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.container .mainBox .header {
  /* flex: 4; */
  height: 200px;
  display: flex;
  margin-bottom: 80px;
  /* background-color: aliceblue; */
}
.container .mainBox .header .profile {
  /* flex: 1; */
  height: 200px;
  width: 200px;
  margin-right: 50px;
  cursor: pointer;
  background-color: var(--hows-point-color-lightest);
  border-radius: 50%;
}
.container .mainBox .header .profile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--hows-point-color-darkest);
}

.container .mainBox .header .userInfo {
  flex: 3.3;
  display: flex;
  flex-direction: column;
}
.container .mainBox .header .userInfo .top {
  flex: 2;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.container .mainBox .header .userInfo .top .nickname {
  flex: 5;
  font-size: 50px;
  font-weight: 600;
  padding-top: 20px;
}
.container .mainBox .header .userInfo .top .linkBtns {
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
.container .mainBox .header .userInfo .top .linkBtns > button {
  border: none;
  background: none;
  color: var(--hows-point-color-darker);
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 15px;
}
/* 아이디, 팔로우, 팔로워 */
.container .mainBox .header .userInfo .middle {
  flex: 1.3;
  display: flex;
  align-items: center;
  padding-right: 290px;
}
.container .mainBox .header .userInfo .middle .id {
  font-size: 20px;
  margin-right: 50px;
}
.container .mainBox .header .userInfo .middle > div {
  margin-right: 5px;
  flex: 1;
}
.container .mainBox .header .userInfo .middle > div > span {
  font-size: 24px;
}
.container .mainBox .header .userInfo .middle .followText {
  margin-right: 8px;
}
.container .mainBox .header .userInfo .middle .followCount {
  font-weight: 600;
  cursor: pointer;
}

.container .mainBox .header .userInfo .bottom {
  flex: 1.5;
}
.container .mainBox .header .userInfo .bottom .followBtn {
  width: 150px;
  height: 55px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: var(--hows-point-color);
  color: var(--hows-white);
  transition-duration: 0.3s;
  margin: 10px 0 0 5px;
}
.container .mainBox .header .userInfo .bottom .followBtn:hover {
  background-color: var(--hows-point-color-dark);
}

/* 하단 게시물 부분 */
.container .mainBox .menus {
  /* flex: 1; */
  height: 70px;
  display: flex;
  padding: 10px 120px;
  border-top: 1px solid var(--hows-gray-200);
  /* background-color: burlywood; */
}
.container .mainBox .menus .menu {
  flex: 1;
}
.container .mainBox .menus .menu > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.container .mainBox .menus .menu > div:hover {
  color: var(--hows-point-color-dark);
}
.container .mainBox .menus .menu > div.active {
  color: var(--hows-point-color-dark);
}
.container .mainBox .menus .menu > div > i {
  margin-right: 13px;
  font-size: 24px;
}
.container .mainBox .menus .menu > div > span {
  font-size: 24px;
  font-weight: 600;
}

/* =========================== */

.container .mainBox .body {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: auto;
}
