.container div {
  border: 1px solid black;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .bannerImg {
  /* flex: 1; */
  width: 100%;
  max-width: 1300px;
  height: 230px;
}

.bannerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .mainBox {
  /* flex: 10; */
}
