.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    margin: 60px 0;
}

.subTitle {
    width: 80%;
    min-width: 800px;
    max-width: 1300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--hows-gray-400);
    padding: 5px;
    font-size: 20px;
}

.orderInfo {
    width: 80%;
    min-width: 800px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.orderInfo > .items {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:  300px;
    border: 1px solid var(--hows-point-color);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow-y: auto;
}

.orderInfo > .items > .item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 95%;
    height: 100px;
    border: 1px solid var(--hows-gray-400);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

.orderInfo > .items > .item > .itemImage {
    width: 100px;
    height: 80px;
}

.orderInfo > .items > .item > .itemImage > img {
    width: 100%;
    height: 100%;
}

.orderInfo > .items > .item > .itemInfo {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}

.orderInfo > .items > .item > .itemInfo > p {
    font-size: 14px;
}

.orderInfo > .items > .item > .itemInfo .itemCount {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
}

.orderInfo > .shipping {
    width: 48%;
    height:  300px;
    border: 1px solid var(--hows-point-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderInfo > .shipping > .addressCheck {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.orderInfo > .shipping > .addressCheck > div > input {
    margin-right: 6px;
}

.orderInfo > .shipping > .addressCheck > div > label {
    margin-right: 16px;
}

.orderInfo > .shipping > .addressCheck > button {
    border: none;
    background-color: var(--hows-point-color);
    color: var(--hows-white);
    padding: 5px;
}

.orderInfo > .shipping > .address {
    width: 90%;
    margin: 5px 0;
}

.orderInfo > .shipping > .address > .postcode {
    display: flex;
    justify-content: start;
}

.orderInfo > .shipping > .address > .postcode > input {
    height: 25px;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid var(--hows-gray-300);
}

.orderInfo > .shipping > .address > .postcode > button {
    border: none;
    background-color: var(--hows-point-color);
    color: var(--hows-white);
    padding: 5px;
}

.orderInfo > .shipping > .address > input {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--hows-gray-300);
}

.orderInfo > .shipping > .member {
    width: 90%;
    margin-top: 15px;
}
.orderInfo > .shipping > .member > label {
    margin-right: 5px;
}
.orderInfo > .shipping > .member > input {
    width: 230px;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--hows-gray-300);
    padding: 2px;
}

.paymentInfo {
    width: 80%;
    min-width: 800px;
    max-width: 1300px;
    display: flex;
    margin: 15px 0;
    border: 1px solid black;
}

.paymentInfo > .paymentWay {
    flex: 1;
    height:  300px;
    border: 1px solid black;
}

.paymentInfo > .paymentPrice {
    flex: 1;
    height:  300px;
    border: 1px solid black;
}