.community {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 440px);
}

.writeTit {
    font-size: 24px;
    font-weight: 700;
}

/* Post.module.css */

.writeTit {
    font-size: 24px;
    font-weight: bold;
}

.writeWrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: calc(100vh - 510px);
}

.imageUploader {
    width: 40%;
    display: flex;
    gap: 20px;
}

.imagePreviewList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.imagePreview {
    position: relative;
}

.imageBox {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid var(--hows-point-color);
    border-radius: 8px;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deleteButton {
    position: absolute;
    top: calc((50px - 20px)/2);
    right: 10px;
    color: var(--hows-point-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: unset;
    font-size: 20px;
}

.addImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hows-point-color);
    cursor: pointer;
    border-radius: 8px;
}

.uploadButton {
    background-color: var(--hows-point-color-darkest);
    color: var(--hows-white);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropzone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--hows-point-color);
    gap: 10px;
    height: 100%;
    font-size: 16px;
    text-align: center;
}

.addImageBtn {
    background: url(../../../../assets/images/plus.png) center no-repeat;
    background-size: 24px;
    width: 100%;
    height: 100%;
}

.addButton {
    font-size: 24px;
    color: var(--hows-point-color-darkest);
}

.thumbnailCont {
    width: 80%;
    border: 2px solid var(--hows-point-color);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.thumbnailCont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tagIcon {
    position: absolute;
    font-size: 24px;
    color: #00bcd4;
}

.tagMarker {
    background-color: var(--hows-point-color);
    color: var(--hows-white);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.txtBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.txtWriteBox {
    border: 2px solid var(--hows-point-color);
    border-radius: 8px;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
}